@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');
html {
    height: 100%;
    font-family: 'Comfortaa', cursive, serif;
    text-align: center;
}

body {
    height: 100%;
    margin: 0;
    background: linear-gradient(90deg, #e10600 256px, #ffffff 256px);
}

main {
    content: "";
    display: table;
    clear: both;
}

div {
    float: left;
    height: 750px;
    padding: 0 10px;
}

a {
    text-decoration: none;
    color: inherit;
}

a:visited {
    color: inherit;
}

#navbar {
    color: #15151e;
    width: 256px;
    font-weight: bolder;
    margin-right: 12px;
}

#navbar ul {
    list-style: none;
    padding: 12px;
    text-align: right;
}

#navbar li {
    padding: 6px 32px;
}

#current {
    color: #fff;
}

#content {
    margin: auto auto auto 256px;
    width: 60%;
}

#content>iframe {
    display: block;
    margin: 0 auto;
}


/* Year specific graph and table sizes */

#graph2022 {
    width: 1080px;
    height: 750px;
}

#table2022 {
    width: 835px;
    height: 590px;
}

#graph2022h {
    width: 1280px;
    height: 750px;
}

#table2022h {
    width: 735px;
    height: 590px;
}

#graph2021 {
    width: 1280px;
    height: 750px;
}

#table2021 {
    width: 1150px;
    height: 590px;
}