:root {
  --page-bg: #15151e;
  --content-bg: #1e1e27;
  --content-bg-alt: #2b2b33;
  --text: #ffffff;
  --text-alt: #939397;
  --red: #e10600;
}

html {
  /* font-family: 'Comfortaa', cursive, serif; */
  text-rendering: optimizeLegibility;
  width: 100%;
  font-smooth: always;
  scroll-behavior: smooth;
  text-align: center;
  background: var(--page-bg);
  color: var(--text);
}

body,
nav,
header,
.content-wrapper,
section,
canvas,
table,
footer {
  margin: 0;
}

body {
  padding: 0 0;
}

h1,
h2 {
  text-transform: capitalize;
  color: var(--red);
  margin: 75px 10px 20px;
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

section {
  width: 90%;
  margin: 10px auto;
}

div.table-container {
  width: 100%;
  overflow: auto;
}

table,
canvas {
  background-color: var(--content-bg);
  border-radius: 12px;
}

table {
  margin: 0 auto;
  border-collapse: collapse;
  border-spacing: 0;
}

table td {
  border: 2px solid var(--content-bg-alt);
  padding: 10px 10px 0px 10px;
}

table tr:first-child td {
  font-weight: bolder;
  border-top: 0;
}

table tr:last-child td {
  border-bottom: 0;
}

table tr td:first-child {
  font-weight: bolder;
  border-left: 0;
}

table tr td:last-child {
  border-right: 0;
}

/* ------------- */
/* toggle group */
/* ----------- */
h1>span>form{
  display: inline-block;
}

.toggle-field {
  display: inline-flex;
  
  overflow: hidden;
}

.toggle-field input {
  position: absolute !important;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  width: 1px;
  border: 0;
  overflow: hidden;
}

.toggle-field label {
  background-color: var(--content-bg-alt);
  color: var(--text);
  font-size: 14px;
  line-height: 1;
  text-align: center;
  padding: 8px 16px;
  margin-right: -1px;
  transition: all 0.5s ease-in-out;
}

.toggle-field label:hover {
  cursor: pointer;
}

.toggle-field input:checked + label {
  background-color: var(--red);
  box-shadow: none;
}

.toggle-field label:first-of-type {
  border-radius: 4px 0 0 4px;
}

.toggle-field label:last-of-type {
  border-radius: 0 4px 4px 0;
}

/* --------- */
/* overview */
/* ------- */
section#overview h1 {
  margin-top: 30px;
}

section#overview div.podium-wrapper {
  content: "";
  display: table;
  clear: both;
  position: relative;
  width: 300px;
  height: 60px;
}

section#overview div.podium-wrapper > div {
  float: left;
  text-align: center;
  width: 100px;
  overflow: visible;
  align-items: flex-end;
  display: block;
  position: absolute;
  bottom: 0;
  width: 100px;
  text-align: center;
  white-space: nowrap;
}

section#overview div.podium-wrapper > div:nth-child(2) {
  background-color: gold;
  height: 50px;
  left: 100px;
}

section#overview div.podium-wrapper > div:nth-child(2):before {
  content: "";
  margin-left: -100%;
}

section#overview div.podium-wrapper > div:nth-child(2):after {
  content: "";
  margin-right: -100%;
}

section#overview div.podium-wrapper > div:nth-child(1) {
  background-color: silver;
  height: 35px;
}

section#overview div.podium-wrapper > div:nth-child(3) {
  background-color: #8c7853;
  height: 25px;
  left: 200px;
}

/* -------- */
/* results */
/* ------ */
section#results h1 a {
  opacity: 0.7;
  color: var(--text);
  transition: opacity 0.5s;
}

section#results h1 a:hover {
  opacity: 1;
  color: var(--text);
}

section#results table {
  display: none;
}

section#results table td {
  padding: 5px;
}

section#results table.down tr:nth-last-child(2) {
  border-top: 4px solid var(--content-bg-alt);
}

section#results table.right tr td:nth-last-child(2) {
  border-left: 4px solid var(--content-bg-alt);
}

section#results canvas {
  max-height: 90vh;
}
